mat-sidenav {
    /* background: #0f172a ; */
    width: 15%;
    height: 100%;

}

mat-sidenav-content {
    height: 100vh;
    /* background: aqua; */

}

mat-sidenav-content .main {
    margin-left: 30px;

}

mat-toolbar>mat-icon {
    margin-left: 15px;
    /* color: #608299; */
    /* border: 3px solid black; */
}

mat-toolbar {
    /* justify-content: space-between; */
}

/* ------------------ */

/* .productItem {
    display: flex;
}

.productItem > p {
margin:auto
} */



/* *{
    box-sizing: border-box
} */

/* .cartBody {
    direction: rtl;
    font-family: 'OpenSansHebrew';
    text-align: right;
    font-size: 14px;
    color: #424041;
     height: 100vh;
} */

.cartWrapper_kP4 {
    width: 352.5px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    box-sizing: border-box;
    /* box-sizing: border-box;  */
}

.cart_b01big_nWt {
    width: 352.5px;
    position: fixed;
    /* z-index: 10; */
    top: 0px;
    bottom: 0px;
    background-color: #fbfbfb;
    border: 0px;
    border-right: 1px solid #eeeeee;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 50%);
    display: flex;
    flex-flow: column;
}

.cartHeader_mRb {
    position: relative;
    padding: 20px 10px;
    background: #d6eb6f;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    min-height: 120px;
}

.h4_cba_cartTitle_lYE {
    margin: 0;
    font-family: OpenSansHebrew;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: right;
    color: #333333;
}

.btn_Op3 {
    width: 24px;
    height: 24px;
    fill: #333333;
    cursor: pointer;
    margin-top: -2px;
}

.cartProducts_fwf {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    background: white;
}

.show_q2m_cartProduct_cartProduct_j6k_show_q2m_clickable_mhS {
    /* opacity: 0; */
    position: relative;
    /* left: -50%; */
    width: 100%;
    height: 0;
    /* overflow: hidden; */
    background: wheat;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 50%);

}

.content_cpq {
    display: flex;
    position: relative;
    height: 92px;
}

/* .labels_Fi4 {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.labels_Fi4 .singleSale_mSm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 0;
    margin-top: 10px;
    border-top: 10px solid #f4801f;
    border-bottom: 10px solid #f4801f;
    border-left: 5px solid transparent;
}

.labels_Fi4 .singleSale_mSm img {
    width: 26px;
    height: 14px;
} */

.cartProduct_j6k .content_cpq .image_8Lv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92px;
    width: 92px;
    padding: 10px;
    flex-shrink: 0;
    background: #f9f9f9;
}

.cartProduct_j6k .content_cpq .image_8Lv img {
    flex-shrink: 0;
}

.cartProduct_j6k .content_cpq .details_JAS {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #5b5b5b;
    width: 205px;
    position: relative;
    padding-right: 10px;
}

.cartProduct_j6k .content_cpq .details_JAS .name_cT8 {
    overflow: hidden;
    max-width: 100%;
    padding-top: 5px;
    color: #333333;
    font-size: 14px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cartProduct_j6k .content_cpq .details_JAS .header_G00 {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 1px;
    right: 10px;
    width: 232px;
}

.cartProduct_j6k .content_cpq .details_JAS .header_G00 li:first-child {
    padding-right: 0px;
}

.cartProduct_j6k .content_cpq .details_JAS .header_G00 li .detail_cWm {
    display: inline-flex;
    align-items: baseline;
    padding-left: 4px;
}

.cartProduct_j6k .content_cpq .details_JAS .header_G00 li .detail_cWm .space_mCk {
    padding: 0px 5px;
}

.cartProduct_j6k .content_cpq .details_JAS .header_G00 li .detail_cWm .unit_Pin {
    padding: 0px;
}

.cartProductSum_Yv4 {
    right: 100px;
    height: 40px;
    bottom: 18px;
    font-size: 20px;

}

.sum_hN3 {

    font-size: 24px;
    font-weight: bold;
    position: absolute;
    /* bottom: 45px; */
    /* right: 10px; */
    display: flex;
    align-items: center;
    direction: ltr;
    justify-content: flex-end;
    line-height: 1;
}

.oldPrice_qRa {
    color: #999999;
    text-decoration: line-through;
    font-size: 12px;
    margin: 0;
    display: inline;
    padding-right: 10px;
    font-weight: normal;
}

.sum_hN3 small.sale_XjM {
    color: #e83299;
}

.sum_hN3 strong.sale_XjM {
    color: #e83299;
}


.cartProduct_j6k .content_cpq .productBtn_OcO {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.productBtn_Vqt.cartProduct_nAB {
    height: 92px;
    width: 144px;
    position: absolute;
    left: 0px;
    right: auto;
    bottom: 0px;
}

.productBtn_Vqt.cartProduct_nAB .remove_yPX {
    position: absolute;
    background: #ffffff;
    width: 48px;
    height: 30px;
    top: 0px;
    left: 0px;
    direction: ltr;
    cursor: pointer;
}

.productBtn_Vqt .icon_EmZ {
    fill: #333333;
    width: 17px;
    position: relative;
    height: 24px;
    display: block;
    margin: 0;
    top: 7px;
    left: 5px;
}

.productBtn_Vqt.cartProduct_nAB .top_yOn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #b1d426;
    border-radius: 0px;
    position: absolute;
    top: 54px;
    left: -100px;
    width: 30px;
    align-items: center;
}

.productBtn_Vqt.cartProduct_nAB .top_yOn .plus__Vh {
    width: 24px;
    height: 24px;
}

.productBtn_Vqt.cartProduct_nAB .amount_baL {
    position: static;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #ffffff;
    border-radius: 0px;
    font-size: 15.8px;
    font-weight: bold;
    color: #333333;
    position: absolute;
    line-height: 34px;
    top: 54px;
    left: 0px;
    width: 65px;
    height: 37px;
    background: #eeeeee;
    cursor: pointer;
}

.productBtn_Vqt.cartProduct_nAB .bottom_r69 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #b1d426;
    border-radius: 0px;
    position: absolute;
    top: 54px;
    left: -100px;
    width: 30px;
    align-items: center;
}

.productBtn_Vqt.cartProduct_nAB .bottom_r69 img {
    right: 0;
}

.cartWrapper_kP4 .cart_b01 .cartFooter_O5n {
    display: block;
    border-radius: 0;
    color: white;
    min-height: 60px;
    height: 60px;
    width: 352.5px;
    box-shadow: none;
    position: relative;
    padding: 0;
    overflow: hidden;
    margin-top: auto;
}

.paymentButton_RKw {
    display: block;
    position: relative;
    cursor: pointer;
    background: transparent;
    outline: none;
    width: 100%;
    border: 0px;
    color: #333333;
    font-size: 25px;
    font-weight: bold;
    padding: 0px;
    height: 60px;
    background: #b1d426;
    line-height: 1;
}

.paymentButton_RKw .label_qg4 {
    float: right;
    height: 60px;
    text-align: right;
    display: flex;
    align-items: center;
    width: calc(100% - 127px);
    padding: 10px;
}

.paymentButtonWithSave_MwT {
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.paymentButton_RKw .sum_ahk {
    background: #97ad14;
    float: left;
    height: 60px;
    width: 126px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.paymentButton_RKw .sum_ahk .price_v88 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paymentButton_RKw .sum_ahk>.savingText_uzA {
    font-size: 14px;
    font-weight: 200;
    margin-top: 5px;
}

.content .toolbar .buttonToolbar  {
    display: flex;
    width: 100%;
    justify-content: space-between
}

