mat-sidenav {
    /* background: #0f172a ; */
    /* width: 15%; */
    width: max(10rem,15%);

    height: 100%;

}

mat-sidenav-content {
    /* height: 100vh; */
    /* background: aqua; */

}

mat-sidenav-content .main {
    /* margin-left: 30px; */

}

mat-toolbar>mat-icon {
    margin-left: 15px;
    /* color: #608299; */
    /* border: 3px solid black; */
}

mat-toolbar {
    justify-content: space-between;
}










