
<!-- 
<div class="adminHome">
    <h1>Admin-home</h1>
    <main>
        <h3>Products count = {{counter$ | async}}</h3>
        <app-products-list></app-products-list>
    </main>

    <a routerLink="/admin/details">sidebar</a>
    <app-sidenav></app-sidenav>

    <aside>
        <router-outlet>

        </router-outlet>
    </aside>
</div> -->
<!-- <h1 #adminRouting>xxxxxxxxxxxxxxxxxxx</h1> -->

<!-- <app-sidenav ngComponentOutletContent></app-sidenav> -->
admin Home components
<app-sidenav #toSidenav></app-sidenav>
<!-- <input type="number" #mor (click)="send()"> -->

 <!-- <div>
    {{morRef}}        
 </div> -->

 <!-- <router-outlet #adminRouter>
<P>LIOR</P>
</router-outlet> -->


<!-- <ng-template #loading>
    <div>pppp</div>
</ng-template> -->




<!-- ------------------------------------------- -->
<!-- <button (click)="navigateToDetails()">navigateToDetails</button>

<button (click)="navigateToProducts()">navigateToProducts</button>

<router-outlet></router-outlet> -->

<!-- <mat-sidenav-container class="container">

    <mat-sidenav #sidenav mode="side" opened >
        sidenav area
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidenav.toggle()">shopping_cart</mat-icon>
                </mat-toolbar>
            </div>
        </div>
        <div class="mainSidenav">
            Main content -->

            <!-- <ng-container #mainSidenav></ng-container> -->

            <!-- <router-outlet>
                <app-card  *ngFor="let item of products$ | async"></app-card>
            </router-outlet>

        </div>

    </mat-sidenav-content>

</mat-sidenav-container> -->





