
mat-stepper{
    width: min(600px,90%);
    margin:auto;
    text-align: center;
    max-height: 600px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  form {
    display: flex;
    max-width: fit-content;
    flex-direction: column;
  }



