

<!-- Step-1 -->
<mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstStepFormGroup">
        <form [formGroup]="firstStepFormGroup" (ngSubmit)="sendStep('firstStepFormGroup')" name="firstStepFormGroup">
            <ng-template matStepLabel>Step-1</ng-template>

            <mat-form-field appearance="fill">
                <mat-label>Id number</mat-label>
                <input matInput placeholder="Id number/ Social security number" formControlName="userIdNumber"
                    maxlength="20" minlength="2" required #inputId>
                <mat-hint align="end">{{inputId.value.length}}/20</mat-hint>
                <mat-error
                    *ngIf="firstStepFormGroup.controls['userIdNumber'].invalid">{{getErrorMessage('userIdNumber','firstStepFormGroup')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="landOfZion@gmail.com" formControlName="email" maxlength="50" minlength="5"
                    required #inputEmail>
                <mat-hint align="end">{{inputEmail.value.length}}/50</mat-hint>
                <mat-error
                    *ngIf="firstStepFormGroup.controls['email'].invalid">{{getErrorMessage('email','firstStepFormGroup')}}</mat-error>
            </mat-form-field>
            <div>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input placeholder="&Po9r" formControlName="password" matInput [type]="hide ? 'password' : 'text'"
                        required maxlength="16" minlength="5" #inputPassword />
                    <mat-hint align="end">{{inputPassword.value.length}}/16</mat-hint>

                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="firstStepFormGroup.controls['password'].invalid">{{getErrorMessage('password','firstStepFormGroup')}}</mat-error>
                </mat-form-field>

            </div>
            <!-- <button mat-button matStepperNext color="accent" []="firstStepFormGroup.invalid" </button> -->
            <button mat-button matStepperNext color="accent" [disabled]="firstStepFormGroup.invalid">Next</button>
        </form>
    </mat-step>

    <!-- Step-2 -->
    <mat-step [stepControl]="secondStepFormGroup" label="Step-2">
        <form [formGroup]="secondStepFormGroup">

            <mat-form-field appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput placeholder="Enter your first name" formControlName="firstName" maxlength="20"
                    minlength="2" required #inputFirstName>
                <mat-hint align="end">{{inputFirstName.value.length}}/20</mat-hint>
                <mat-error
                    *ngIf="secondStepFormGroup.controls['firstName'].invalid">{{getErrorMessage('firstName','secondStepFormGroup')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Enter your last name" formControlName="lastName" maxlength="20"
                    minlength="2" required #inputLastName>
                <mat-hint align="end">{{inputLastName.value.length}}/20</mat-hint>
                <mat-error
                    *ngIf="secondStepFormGroup.controls['lastName'].invalid">{{getErrorMessage('lastName','secondStepFormGroup')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <mat-select formControlName="cityId">
                    <mat-option *ngFor="let city of cityList$ | async" [value]="city._id">{{city.name}}
                    </mat-option>
                </mat-select>
                <mat-hint align="end">select a city from the list</mat-hint>
                <mat-error
                    *ngIf="secondStepFormGroup.controls['cityId'].invalid">{{getErrorMessage('cityId','secondStepFormGroup')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Street</mat-label>
                <input matInput placeholder="Enter your street" formControlName="street" maxlength="30" minlength="2"
                    required #inputStreet>
                <mat-hint align="end">{{inputStreet.value.length}}/30</mat-hint>
                <mat-error
                    *ngIf="secondStepFormGroup.controls['street'].invalid">{{getErrorMessage('street','secondStepFormGroup')}}</mat-error>
            </mat-form-field>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext
                    [disabled]="secondStepFormGroup.invalid && firstStepFormGroup.invalid">Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Step-3 -Done -->
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Click the send button to register.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="sendStep('secondStepFormGroup')"
                [disabled]="secondStepFormGroup.invalid && firstStepFormGroup.invalid">Send</button>
        </div>
    </mat-step>
</mat-stepper>