
  .cardArea{
    display: flex;
    flex-wrap: wrap;
  }

  .example-card {
    margin: 10px;
    border: 2px solid black;
    flex-grow: 1;
    flex-basis: 10%;
    
  }
  .example-card:hover{
    border: 3px solid red;
  }
  
  .example-header-image {
    text-align: center;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }