
<div class="bodyCart">

    <div class="bodyCartHeader">

        <div class="headerTitle">
            <h1>my cart</h1>
        </div>

        <div class="bodyDeleteIcon">
            <mat-icon (click)="deleteAllItems()">delete</mat-icon>
        </div>

    </div>



    <div class="mainCart">

        <div class="categoryCard"  *ngFor="let item of cart$ | async">

            <div class="categoryTitle">
                {{item.categoryName}}
            </div>

            <div class="itemCard" *ngFor="let i of item.cartItems">

                <div class="mainTitle">
                    {{i.product.name}}
                </div>

                <div class="deleteItem">
                    <mat-icon (click)="deleteItem(i)">delete</mat-icon>
                </div>
                <div class="imgItem">
                    <img src="{{i.product.imageName}}" alt="{{i.product.name}}">
                </div>

                <div class="priceItem">
                    <strong>${{i.product.price}}</strong> <!-- price-->
                </div>

                <div class="quantityItem">
                    {{i.quantity}}
                </div>

            </div>

        </div>

    </div>


    <div class="bodyFooterCart" (click)="checkout()">

        <div class="footerTitle">
            <h3>Checkout</h3>
        </div>

        <!-- ** add a condition that if the total price is low or equal to zero then display another div -->
        <div class="footerTotalPrice">
            <h3>$ {{totalPrice$|async}}</h3>
        </div>

    </div>

</div>