.example-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.example-form>* {
    font-family: cursive;

}

.input-price {
    display: flex;
    text-align: right;
}

input.price::-webkit-inner-spin-button {
    display: none;
}

.edit-button {
    display: flex;
    justify-content: space-evenly
}

img {
    width: 50%;
    height: 50%;
}